* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #00AD68;
}

#loom-companion-mv3 {
    display: none;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 936px;
  width: 100%;
  margin: 0 auto;
}

/* Hero Image */
.container--hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone .images,
.desktop .images {
  position: absolute;
  top: 0;
  left: 0;
}

[data-img="visa"],
[data-img="payment"] {
  z-index: 1;
  filter: drop-shadow(12.79px -15.99px 22px rgba(33, 36, 41, 0.2));
  will-change: filter;
}

[data-img="phone"],
[data-img="mac"] {
  z-index: 0;
}

[data-img="bottom-right"],
[data-img="top-right"],
[data-img="top-middle"],
[data-img="middle-middle"],
[data-img="bottom-middle"],
[data-img="top-left"] {
  z-index: 1;
  filter: drop-shadow(41px -31px 29px rgba(33, 36, 41, 0.1));
  will-change: filter;
}

.images [data-img] {
    opacity: 0;
    visibility: hidden;
}

/* Hero Image */
