* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #00AD68;
    overflow: hidden;
}

#loom-companion-mv3 {
    display: none;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}

.container {
  max-width: 936px;
  width: 100%;
  margin: 0 auto;
}

/* Hero Image */
.container--hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-interactive .structure {
  max-width: 554px;
  width: 100%;
}

.hero-interactive .images {
  position: absolute;
  top: 0;
  left: 0;
}

.images [data-img] {
  opacity: 0;
  visibility: hidden;
}
[data-img="mac"] { z-index: 0;}
[data-img="phone"] { z-index: 3;}

[data-img="visa"],
[data-img="payment"] {
  z-index: 4;
  filter: drop-shadow(12.79px -15.99px 22px rgba(33, 36, 41, 0.2));
  will-change: filter;
}

[data-img="bottom-right"],
[data-img="top-right"],
[data-img="top-middle"],
[data-img="middle-middle"],
[data-img="bottom-middle"],
[data-img="top-left"] {
  z-index: 1;
  filter: drop-shadow(41px -31px 29px rgba(33, 36, 41, 0.1));
  will-change: filter;
}

[data-img="top-right"] svg,
[data-img="bottom-right"] svg{
  width: 100%;
  height: auto;
}
[data-img="top-right"]{
  z-index: 3;
}

[data-img='visa'] {
  transform: translate(calc(2 * var(--x)), var(--y));
}

[data-img='payment'] {
  transform: translate(calc(-2 * var(--x)), calc(-1 * var(--y)));
}

/* Hero Image */
